<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>T.C. No</th>
                    <th>Personel Adı</th>
                    <th>Bölümü</th>
                    <th>Maaşı</th>
                    <th>İşe Giriş Tarihi</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personel of personels let i = index">
                    <td [innerText]="i + 1"></td>
                    <td [innerText]="personel.tcNo"></td>
                    <td [innerText]="personel.personelAdi"></td>
                    <td [innerText]="personel.bolumu"></td>
                    <td [innerText]="personel.maasi"></td>
                    <td [innerText]="personel.iseGirisTarihi | date: 'dd.MM.yyyy'"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h4 class="alert alert-primary">Kayıt Formu</h4>
        <div class="form-group">
            T.C. Numarası
            <input [(ngModel)]="model.tcNo" type="number" class="form-control">
        </div>
        <div class="form-group">
            Personel Adı
            <input [(ngModel)]="model.personelAdi" type="text" class="form-control">
        </div>
        <div class="form-group">
            Bölümü
            <select [(ngModel)]="model.bolumu" class="form-control">
                <option [value]="bolum" *ngFor="let bolum of bolumler" [innerText]="bolum"></option>
            </select>
        </div>
        <div class="form-group">
            Maaşı
            <input [(ngModel)]="model.maasi" type="text" class="form-control">
        </div>
        <div class="form-group">
            İşe Giriş Tarihi
            <input [(ngModel)]="model.iseGirisTarihi" type="date" class="form-control">
        </div>
        <div class="form-group mt-2">
            <button class="btn btn-primary w-100" (click)="kaydet()">
                <i class="fa-solid fa-floppy-disk"></i>
                Kaydet
            </button>
        </div>
    </div>
</div>
