<h1 class="alert alert-info text-center">Form 2</h1>
<div class="row">
    <div class="col-md-8">
       <app-form2-listele [personels]="personels" (deleteEvent)="delete($event)"></app-form2-listele>
    </div>
    <div class="col-md-4" *ngIf="!isUpdateFormActive">
        <app-form2-kayit (kayitEvent)="kaydet($event)" (kayitSonrasiEvent)="isSuccessChange($event)" [isSuccess]="isSuccess"></app-form2-kayit>
    </div>
    <!-- <div class="col-md-4" *ngIf="isUpdateFormActive">
       <app-form2-guncelle></app-form2-guncelle>        
    </div> -->
</div>